@import "./mixins.scss";

:root {
	--bezier-curve: cubic-bezier(0.23, 1, 0.32, 1);
	--bezier--300: 300ms var(--bezier-curve);
	--bezier--600: 600ms var(--bezier-curve);
	--bezier--900: 900ms var(--bezier-curve);

	--border-radius: 0.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 80ch;
	margin: 0 auto;
	padding: 1rem;

	@include grid(3rem);

	background-color: #090909;
	color: #ddd;

	font-family: sans-serif;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 2.5rem;
}

img,
video {
	width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

.fancy-link {
	position: relative;
	padding-bottom: 0.1em;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0.05em;
		width: 100%;
		transform: scaleX(0);
		transform-origin: left center;
		background-color: currentColor;
		transition: transform var(--bezier--900);
	}

	&::after {
		transform: scaleX(1);
		transition-delay: 200ms;
		transform-origin: right center;
	}

	&:hover {
		&::before {
			transform: scaleX(1);
			transition-delay: 200ms;
		}
		&::after {
			transform: scaleX(0);
			transition-delay: 0ms;
		}
	}
}

hr {
	margin: 2vmin 0;
	border: 0;
	height: 1px;
	width: 100%;
	background: currentColor;
}
