---
import DefaultLayout from "../layouts/DefaultLayout.astro";
const pageTitle = "Blog";

const pageContent = "Lorem ipsum dolor sit amet, consectetur adipiscing elit.";
---

<DefaultLayout pageTitle={pageTitle}>
	<section>
		<p>{pageContent}</p>
	</section>
</DefaultLayout>
