---
import DefaultLayout from "../layouts/DefaultLayout.astro";
const pageTitle = "Home";

const pageContent =
	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Ut sem viverra aliquet eget. Quis hendrerit dolor magna eget est lorem ipsum dolor. Massa tincidunt dui ut ornare lectus sit amet est placerat. Nibh cras pulvinar mattis nunc. Ac tortor dignissim convallis aenean et tortor. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Diam phasellus vestibulum lorem sed. Nunc eget lorem dolor sed viverra ipsum nunc aliquet. Purus sit amet volutpat consequat mauris nunc congue. Amet facilisis magna etiam tempor orci eu lobortis elementum. Consectetur purus ut faucibus pulvinar elementum integer";
---

<DefaultLayout pageTitle={pageTitle}>
	<section>
		<p>{pageContent}</p>
	</section>
</DefaultLayout>
