<nav class="nav-links">
	<a
		class="fancy-link"
		href="/"
		>Home</a
	>
	<a
		class="fancy-link"
		href="/about/"
		>About</a
	>
	<a
		class="fancy-link"
		href="/blog/"
		>Blog</a
	>
</nav>

<style lang="scss">
	@import "../styles/mixins";

	.nav-links {
		@include flex;
		@include hide;
		transition: opacity var(--bezier--900), visibility var(--bezier--900);

		&.show {
			@include show;
		}
	}
</style>
